<div class="container">
    <h1>View Employee</h1>
  
    <a href="#" routerLink="/list" class="btn btn-primary">Back</a>
    <br> <br>
    <div>
        <strong>ID:</strong>
        <p>{{ employee.id }}</p>
    </div>
   
    <div>
        <strong>Name:</strong>
        <p>{{ employee.name }}</p>
    </div>
   
    <div>
        <strong>Age:</strong>
        <p>{{ employee.age }}</p>
    </div>

    <div>
        <strong>Address:</strong>
        <p>{{ employee.address }}</p>
    </div>

    <div>
        <strong>Mobile:</strong>
        <p>{{ employee.mobile }}</p>
    </div>
   
</div>